[submodule "librazermacos"]
	path = librazermacos
	url = git@github.com:zykon2004/librazermacos
[submodule "iohook"]
	path = iohook
	url = https://github.com/overcurrent/iohook
[submodule "origin"]
	url = git@github.com:zykon2004/librazermacos
